    <div id="home-banner">
      <div class='container'>
        <h3>The big picture</h3>
        <p class='intro'>After 8 years working as a graphic/web designer, specializing in visual identity/communication and interface design</p> 
        <p>I learned through Le Wagon's coding bootcamp to code and manage web developement.</p>
      </div>
    </div>

    <%# <div class='partenaires'>

    </div> %>


<div id="home-content">
  <div id="home-left">
    <div class='skills'>
      <div class='card'>
        <%= image_tag 'Illustrations-01.png', class: 'card-img', alt: 'design' %>
        <div class='card-info'>
          <h1>Graphic design</h1>
          <p>Art direction / Branding and all the necessary print communication support</p>
        </div>
      </div>
      <div class='card'>
        <%= image_tag 'Illustrations-02.png', class: 'card-img2', alt: 'design' %>
        <div class='card-info'>
          <h1>UI / UX design</h1>
          <p>Art direction / Branding and all the necessary print communication support</p>
        </div>
      </div>
      <div class='card'>
        <%= image_tag 'Illustrations-03.png', class: 'card-img3', alt: 'design' %>
        <div class='card-info'>
          <h1>Web developement</h1>
          <p>Art direction / Branding and all the necessary print communication support</p>
        </div>
      </div>
    </div>
  </div>

  <div id="home-right">
    <div class='softwares'>
      <div id='perso-pic'></div>
      <h2>Harold Ngano</h2>
      <h1>Developpeur Full-Stack</h1>
      <h3><i class="fas fa-map-marker-alt"></i> Paris, France</h3>
      <ul>
        <li><%= link_to "h.ngano@gmail.com", root_path, class: "navbar-email" %></li>
        <li><a target="_blank" href="https://www.linkedin.com/in/harold-ngano-10a9a457/"><i class="fab fa-linkedin-in"></i></a></li>
        <li><a target="_blank" href="https://github.com/Samawhim"><i class="fab fa-github"></i></a></li>
      </ul>
      <%= link_to "See work", works_path, class: "button1" %>
      <h1>softwares</h1>
    </div>
  </div>
</div>


<div class="skills2">
  <% @works.each do |work| %>
    <div class='card'>
      <%= image_tag 'Illustrations-01.png', class: 'card-img', alt: 'design' %>
      <div class='card-info'>
        <h1><%= work.name %></h1>
        <p><%= work.description %></p>
      </div>
    </div>
  <% end %>
</div>

<div class='components'>
  <div class='card1'>
    <%= image_tag 'photo_CV.png', class: 'card1-img', alt: 'design' %>
    <div class='card1-info'>
      <h1>Hello</h1>
    </div>
    <div class='button1'>
      Choose
    </div>
  </div>
  <div class='card2'>
    <%= image_tag 'photo_CV.png', class: 'card2-img', alt: 'design' %>
    <div class='button2'>
      <h1>Lucy</h1>
      <p>Influenceuse</p>
    </div>
  </div>
</div>

<div class='app'>
  <div class='app1'>
    <div class='appcard1'>
      <%= image_tag 'Illustrations-01.png', class: 'appcard1-img', alt: 'design' %>
      <div class='appcard1-info'>
        <h1>Winter<br>2020</h1>
        <div class='appbutton1'>
          738
        </div>
      </div>
    </div>
  </div>  

  <div class='app2'>  
    <div class='appcard1'>
      <%= image_tag 'Illustrations-01.png', class: 'appcard1-img', alt: 'design' %>
      <div class='appcard1-info'>
        <h1>Winter<br>2020</h1>
        <div class='appbutton1'>
          738
        </div>
      </div>
    </div>
  </div>

  <div class='app3'>  
    <div class='appcard1'>
      <%= image_tag 'Illustrations-01.png', class: 'appcard1-img', alt: 'design' %>
      <div class='appcard1-info'>
        <h1>Winter<br>2020</h1>
        <div class='appbutton1'>
          738
        </div>
      </div>
    </div>
  </div>
</div>