<div id='presentation'>
  <div class='description'>
    <h1>About me</h1>
    <h3>The big picture</h3>
    <p class='intro'>After 8 years working as a graphic/web designer, specializing in visual identity/communication and interface design</p> 
    <p>I learned through Le Wagon's coding bootcamp to code and manage web developement projects to start over as a Web Developer
    <br><br>Can't wait to exchange with you all ;)</p>
  </div>
  <div class='softwares'>
    <h1>softwares</h1>
    <%= link_to "More about us", about_path %>
    <%= link_to "INDEX", works_path %>
    <ul>
      <li><a href="#"><i class="fab fa-instagram"></i></a></li>
      <li><a href="#"><i class="fab fa-facebook"></i></a></li>
      <li><a href="#"><i class="fab fa-twitter"></i></a></li>
    </ul>
  </div>
</div>
<div class='skills'>
  <div class='card'>
    <%= image_tag 'Illustrations-01.jpg', class: 'card-img', alt: 'design' %>
    <div class='card-info'>
      <h1>Graphic design</h1>
      <p>Art direction / Branding and all the necessary print communication support</p>
    </div>
  </div>
  <div class='card'>
    <%= image_tag 'Illustrations-02.jpg', class: 'card-img', alt: 'design' %>
    <div class='card-info'>
      <h1>UI / UX design</h1>
      <p>Art direction / Branding and all the necessary print communication support</p>
    </div>
  </div>
  <div class='card'>
    <%= image_tag 'Illustrations-03.jpg', class: 'card-img', alt: 'design' %>
    <div class='card-info'>
      <h1>Web developement</h1>
      <p>Art direction / Branding and all the necessary print communication support</p>
    </div>
  </div>
</div>
<div class="skills w100">
  <% @works.each do |work| %>
   <div class='card'>
      <%= image_tag 'Illustrations-01.jpg', class: 'card-img', alt: 'design' %>
      <div class='card-info'>
        <h1><%= work.name %></h1>
        <p><%= work.description %></p>
      </div>
    </div>
  <% end %>
</div>

<div class='components'>
  <div class='card1'>
    <%= image_tag 'photo_CV.png', class: 'card1-img', alt: 'design' %>
    <div class='card1-info'>
      <h1>Hello</h1>
    </div>
    <div class='button1'>
      Choose
    </div>
  </div>
  <div class='card2'>
    <%= image_tag 'photo_CV.png', class: 'card2-img', alt: 'design' %>
    <div class='button2'>
      <h1>Lucy</h1>
      <p>Influenceuse</p>
    </div>
  </div>
</div>

<div class='app'>
  <div class='app1'>
    <div class='appcard1'>
      <%= image_tag 'Illustrations-01.jpg', class: 'appcard1-img', alt: 'design' %>
      <div class='appcard1-info'>
        <h1>Winter<br>2020</h1>
        <div class='appbutton1'>
          738
        </div>
      </div>
    </div>
  </div>  

  <div class='app2'>  
    <div class='appcard1'>
      <%= image_tag 'Illustrations-01.jpg', class: 'appcard1-img', alt: 'design' %>
      <div class='appcard1-info'>
        <h1>Winter<br>2020</h1>
        <div class='appbutton1'>
          738
        </div>
      </div>
    </div>
  </div>

  <div class='app3'>  
    <div class='appcard1'>
      <%= image_tag 'Illustrations-01.jpg', class: 'appcard1-img', alt: 'design' %>
      <div class='appcard1-info'>
        <h1>Winter<br>2020</h1>
        <div class='appbutton1'>
          738
        </div>
      </div>
    </div>
  </div>
</div>